[Unit]
Description=UiTdatabank Articlelinker
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
User=www-data
Group=www-data
PIDFile=/var/run/uitdatabank-articlelinker.pid
EnvironmentFile=-/etc/default/uitdatabank-articlelinker
WorkingDirectory=/var/www/uitdatabank-articlelinker
ExecStart=/usr/bin/node index.js
Restart=on-failure
RestartSec=10s
Type=simple

[Install]
WantedBy=multi-user.target
